@page
@model Portfolio.Pages.AboutModel
@{
    <h1>This is the start of the about page</h1>

    <div id='skills'>
    <ul class='skills-dropdown'>
    Front End
    
    <lI class='skills-hidden'>
        HTML
    </lI>
        <lI class='skills-hidden'>
        CSS
    </lI>
        <lI class='skills-hidden'>
        JQuery
    </lI>
        <lI class='skills-hidden'>
        Javascript
    </lI>
        <lI class='skills-hidden'>
        React
    </lI>

    </ul>
        <ul class='skills-dropdown'>
    Back End
    
    <lI class='skills-hidden'>
        ASP.Net
    </lI>
        <lI class='skills-hidden'>
        Flask
    </lI>
        <lI class='skills-hidden'>
        DJango
    </lI>
        <lI class='skills-hidden'>
        Python
    </lI>

    </ul>
            <ul class='skills-dropdown'>
        Languages    
    <lI class='skills-hidden'>
        Python
    </lI>
        <lI class='skills-hidden'>
        C#
    </lI>
        <lI class='skills-hidden'>
        Java
    </lI>
        <lI class='skills-hidden'>
        C++
    </lI>

    </ul>
    
    </div>
}
