@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="welcome-block">
    <h3 class="display-4 ">Hello!</h3>
    <h1 class="display-4"> I am Tom Garnett</h1>
    <p>An Aspiring Application Developer</p>
    </div>
    <div class="spacer-block">

    </div>
    <div id="project-block">
        <h3 class="align-content-lg-start float-start">Projects</h3>
        <br/>
        <br />
        <br />
        <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
             Praesent vulputate laoreet dolor, at consequat lorem lobortis 
             eu. Mauris placerat consectetur nibh, vitae lobortis eros ultricie
             s nec. Aenean et dolor malesuada nibh consequat gravida. Cras vel
             mauris non neque lobortis eleifend. Integer fermentum a erat et 
             efficitur. Curabitur et tincidunt risus, vitae convallis urna. Du
             is fringilla, libero et euismod venenatis, sem felis tristique se
             m, sed sodales odio tortor in turpis. Nullam imperdiet vestibulum 
             dui, id fermentum urna condimentum a. Pellentesque a lacus lectus. 
             Donec vel rhoncus est. Pellentesque sollicitudin bibendum ex, in p
             retium odio egestas eget.
        </p>
          <a class=" text-dark nav-link float-end float-bottom block-link"  asp-area="" asp-page="/Projects">Projects</a>
    </div>

</div>
