@page
@model Portfolio.Pages.ProjectsModel
@{
    <h1>Completed Projects Include</h1>
    <div class='expand-down'>
    <h2 class='hover-light'>
        Black Jack 
    </h2>

    <div class='hidden-expand'>
        <h3>Web based app written in Javascript</h3>
        <p> Using phaser 3 the app simulates a hand of blackjack </p>
        <a href='~/blackjack/game.html' target="_blank" class='project-links enlarging-links'>Play</a>
        <br>
        <a href='https://github.com/tgarn/BlJ' target="_blank" class='project-links enlarging-links'>Code</a>
    </div>
    </div>
        <div class='expand-down'>
    <h2 class='hover-light'>
        Machine Learning Seismic Activity Predictor 
    </h2>

    <div class='hidden-expand'>
        <h3>A python based machine learning project </h3>
        <img src='~/img/Plotted Map.png'/>
        <p> Using Jupyter notebooks to do and present machine learning work.

            The programs predicts where and EQ will take place based on the depth of the event taking place.

            The program also predicts what event caused the seismic activity(Earthquake, Volcano, nucular explosion. based on where it took place. </p>
        <a href='https://github.com/tgarn/EQ-master/blob/e5dac2209fe03d4cc3da9faf89be22a6aaf30028/EQ.ipynb' target="_blank" class='project-links enlarging-links'>Findings</a>
        <br>
        <a href='https://github.com/tgarn/EQ-master' target="_blank" class='project-links enlarging-links'>Code</a>
    </div>
    </div>
        <div class='expand-down'>
    <h2 class='hover-light'>
        Aggravation
    </h2>

    <div class='hidden-expand'>
        <h3>Making the game agrovation in python</h3>
        <p>A game that has been played in my family for as long as I can remember. Basic rules for the game are moving all of your marbles/units from the home(start) to the base(finish) with some restrictions on how you can move </p>
        <a href='~/blackjack/game.html' target="_blank" class='project-links enlarging-links'>Play</a>
        <br>
        <a href='https://github.com/tgarn/pyboard-master' target="_blank" class='project-links enlarging-links'>Code</a>
    </div>
    </div>

}
