@page
@model Portfolio.Pages.ProjectsModel
@{
    <h1>This is the start of the Projects Page</h1>
    <div class='expand-down'>
    <h2>
        Black Jack 
    </h2>

    <div class='hidden-expand'>
        <h3>Web based app written in Javascript</h3>
        <p> Simulates a hand of blackjack </p>
        <a href='#play' class='project-links enlarging-links'>Play</a>
        <br>
        <a href='#github'class='project-links enlarging-links'>Code</a>
    </div>
    </div>

}
